# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs & reports
*.log
report.json

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db